<!doctype html>
<html>
<head>
<title>HTTPS Server</title>
</head>
<body>
  <h3>Key-value server</h3>
  <a href="/insert/">specify a value to be stored under a key</a>
  <br>
  <a href="/getvalue/">request the value for a key</a>
  <br>
  <a href="/getall/">request all the current contents of the key-value structure</a>
  <br>
  <a href="/delete/">delete a key-value pair</a>
  <br>
  <a href="/deleteall/">clear then entire key-value structure</a>
  <br>
  <br>
  <h3>File upload server</h3>
  <a href="/uploadfile/">upload a file</a>
  <br>
  <a href="/getfilelist/">request a list (text or html) of uploaded files</a>
  <br>
  <a href="/downloadfile/">request a specific file for download</a>
  <br>
</body>
</html>