<!doctype html>
<html>
<head>
<title>KVPair</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
    <h1>Specify a value to be stored under a key</h1>
    <form action="/insert/" method="POST" enctype="multipart/form-data">
      <input type="text" placeholder="key" name="key" value="{{request.form.key}}">
      <input type="text" placeholder="value" name="value" value="{{request.form.value}}">
      <input class="btn btn-default" type="submit" name="insert" value="insert">
    </form>
</body>
</html>